.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

header {
  background: #3e9bd4;
  padding: 10px;

  .login,
  .logout,
  .singIn {
    padding: 5px 10px;
    background: #1c6592;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background: #19567c;
    }
  }
}

form {
  input {
    padding: 4px;
    border: 1px solid black;
    width: 200px;
    margin: 0 auto 10px;
    display: block;
  }
}